/* Container principal */
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Título da página */
  .home-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Lista */
  .home-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo dos itens da lista */
  .home-list-item {
    margin: 10px auto;
    text-align: center;
  }
  
  /* Botões */
  .home-button {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .home-button:hover {
    background-color: #1976d2;
    transform: scale(1.05);
  }
  
  .home-button:focus {
    outline: none;
  }
  