/* Container principal */
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Título da página */
  .home-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Lista */
  .home-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo dos itens da lista */
  .home-list-item {
    background-color: #f2f2f2;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .home-list-item:hover {
    background-color: #d9d9d9;
    transform: scale(1.05);
  }
  
  /* Links */
  .home-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }
  
  .home-link:hover {
    color: #007bff;
  }
  