.Relogio {
    display: flex;
    width: 100vw;
    height: 5em;
    align-items: center;
    justify-content: center;
    background-color: #0da1eb;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#hora {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
